
:root{
    --background_color: rgb(253, 241, 243);
    --intro_color: rgb(73, 57, 191);
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tektur&display=swap');
}

@font-face {
    font-family: "fallback";
    src: local("Arial");
}


body{
    background-color: var(--background_color);
    
}

.intro_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav{
    background-color: rgb(192, 219, 242);
}
p.introduction{
    
    border-style: solid;
    margin: 10px ;
    transition: all;
    transition-duration: 1s;
}
p.introduction:hover{
    transform: translateX(100%) rotate(45deg);
    background-color: aliceblue;
}

p.bio{
    font-family: 'Open Sans', "fallback" , sans-serif;
    
}
img{
    height: 50vh;
    width: 50vh;
}